@import '_vars';
@import '_global';
@import '_fonts';

// start header

.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text{
  margin-left: auto;
  margin-right: 50px;
  span{
    color: $red;
  }
}
.header__btn{
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login{
  background-color: $green;
}
.header__btn-register{
  background-color: $red;
  margin-left: 7px;
}
.header__menu{
  background-color: $bg;
}
.menu{
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
    font-size: 14px;
  }
}

// end header
// start search

.search{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 533px;
}
.search__inner{
  padding: 160px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    font-family: 'Roboto', sans-serif;
    line-height: 72px;
  }
  &-text{
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      outline: 0;
      font-family: 'Roboto', sans-serif;
      @include f500;
      font-size: 14px;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
        color: #90a4ae;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
      cursor: pointer;
    }
  }
}

// end search
// start products

.products{
  padding: 100px 0;
  background-color: $grey;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    box-shadow: 0px 1px 3px 0px rgba(204,216,228,0.75);
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $red;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item{
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205,214,222,0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    color: $bg;
    @include f500;
    font-size: 18px;
    display: block;
  }
  &-category{
    display: block;
    color: $green;
    font-size: 14px;
  }
  &-price{
    font-size: 20px;
    color: $bg;
    @include f700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author{
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color: $bg;
    }
  }
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 45px 5px 0;
    width: 153px;
    height: 52px;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(204,216,228,0.75);
    cursor: pointer;
    background-color: #fff;
    &.mixitup-control-active{
      color: #fff;
      background-color: $red;
    }
  }
}

// end products
// start product=slider

.product-slider{
  padding: 110px 0px 120px;
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active{
        button{
          background-color: $green;
        }
      }
      button{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #e8e8e8;
        border: none;
        font-size: 0;
        cursor: pointer;
        outline: none;
      }
    }
  }
}


// end product-slider
// start advantages

.advantages{
  background-color: $bg;
  padding: 110px 0;
}
.advantages__title{
  color: #fff;
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;
  &:hover{
    .advantages__item-images{
      background-color: $green;
      transition: all .3s;
    }
    .advantages__item-title{
      color: $green;
      transition: all .3s;
    }
    .advantages__item-images{
      svg{
        path{
          fill: white;
        }
      }
    }
  }
  &-images{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }
  &-title{
    color: #fff;
    margin-bottom: 25px;
    @include f500;
    font-size: 24px;
  }
  &-text{
    font-size: 15px;
    color: #b0bec5;
  }
}

// end advantages
// start author
.author{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title{
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 45px;
    max-width: 265px;
    span{
      @include f700;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
    color: $bg;
  }
}

// end author
// start tutorial

.tutorial{
  padding: 70px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item{
  &-images{
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title{
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    @include f700;
    padding: 30px 10px;
    color: $bg;
  }
}

// end tutorial

// start footer

.footer{
  background-color: $bg;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
}
.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
  }
  &-title{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info{
  margin-top: 18px;
  @include f500;
  color: #fff;
  padding-left: 30px;
  position: relative;
  &::before{
    content: '\f041';
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }
  &-phone::before{
    content: '\f095';
    font-family: 'icomoon';
  }
}
.footer__col-list{
  li{
    display: block;
  }
  a{
    margin-bottom: 15px;
    color:#b7c3c8;
    padding-left: 22px;
    position: relative;
    &::before{
      content: "\f105";
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
    }
  }
}
.footer__social-link{
  margin-bottom: 33px;
  li{
    & + li{
      margin-left: 5px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/social.png);
    & + a{
      margin-left: 7px;
    }
  }
}
.link-twitter{
  background-position: -35px 0;
}
.link-youtube{
  background-position: -70px 0;
}
.link-pinterest{
  background-position: -105px 0;
}
.link-linkedin{
  background-position: 28px 0;
}
.footer__form-title{
  margin-bottom: 15px;
  color:#fff;
  font-size: 20px;
}
.footer__form{
  position: relative;
  input{
    border: none;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #fff;
    padding-left: 13px;
    padding-right: 50px;
    outline: none;
    &::placeholder{
      color: #697378;
    }
  }
  button{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;
    &::before{
      content: "\f124";
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
    }
  }
}
.footer__copy{
  border-top: 1px solid #424d53;
  padding: 25px 0px;
}
.footer__copy-text{
  text-align: center;
  color: #919699;
}

// end footer
