@import '_vars';
@import '_global';
@import '_fonts';

// start header

.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text{
  margin-left: auto;
  margin-right: 50px;
  span{
    color: $red;
  }
}
.header__btn{
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login{
  background-color: $green;
}
.header__btn-register{
  background-color: $red;
  margin-left: 7px;
}
.header__menu{
  background-color: $bg;
}
.menu{
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
    font-size: 14px;
  }
}

// end header
// start search

.search{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 533px;
}
.search__inner{
  padding: 160px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    font-family: 'Roboto', sans-serif;
    line-height: 72px;
  }
  &-text{
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      outline: 0;
      font-family: 'Roboto', sans-serif;
      @include f500;
      font-size: 14px;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
        color: #90a4ae;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
      cursor: pointer;
    }
  }
}

// end search
// start products

.products{
  padding: 100px 0;
  background-color: $grey;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    box-shadow: 0px 1px 3px 0px rgba(204,216,228,0.75);
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $red;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item{
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205,214,222,0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    color: $bg;
    @include f500;
    font-size: 18px;
    display: block;
  }
  &-category{
    display: block;
    color: $green;
    font-size: 14px;
  }
  &-price{
    font-size: 20px;
    color: $bg;
    @include f700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author{
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color: $bg;
    }
  }
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 45px 5px 0;
    width: 153px;
    height: 52px;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(204,216,228,0.75);
    cursor: pointer;
    background-color: #fff;
    &.mixitup-control-active{
      color: #fff;
      background-color: $red;
    }
  }
}

// end products
// start product=slider

.product-slider{
  padding: 110px 0px 120px;
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active{
        button{
          background-color: $green;
        }
      }
      button{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #e8e8e8;
        border: none;
        font-size: 0;
        cursor: pointer;
        outline: none;
      }
    }
  }
}


// end product-slider
// start advantages

.advantages{
  background-color: $bg;
  padding: 110px 0;
}
.advantages__title{
  color: #fff;
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;
  &:hover{
    .advantages__item-images{
      background-color: $green;
      transition: all .3s;
    }
    .advantages__item-title{
      color: $green;
      transition: all .3s;
    }
    .advantages__item-images{
      svg{
        path{
          fill: white;
        }
      }
    }
  }
  &-images{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }
  &-title{
    color: #fff;
    margin-bottom: 25px;
    @include f500;
    font-size: 24px;
  }
  &-text{
    font-size: 15px;
    color: #b0bec5;
  }
}

// end advantages
// start author
.author{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title{
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 45px;
    max-width: 265px;
    span{
      @include f700;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
    color: $bg;
  }
}

// end author